<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Selecciones</title>    
        <link rel="stylesheet" href="../css/estilos.css">
        <link rel="stylesheet" href="../bootstrap-local/css/bootstrap.css">    
      </head>

<body>
    <header class="cabeza fuente">
        <a class="cabeza__index" href="../index.html"><h1>CamisetasMyA</h1></a>
    </header>   
    <nav>
      <div class="fuente">
        <ul class="menuPrincipal">
          <li><a>Fútbol Argentino</a>
            <ul>
              <li><a href="./futbolargentino.html">Primera División</a></li>
            </ul>
          </li>  
          <li><a>Internacional</a>
            <ul>
              <li><a href="./internacional.html">LaLiga</a></li>
              <li><a href="./internacional.html">Premier League</a></li>
              <li><a href="./internacional.html">Serie A</a></li>
              <li><a href="./internacional.html">Ligue 1</a></li>
              <li><a href="./internacional.html">Bundesliga</a></li>
            </ul>
          </li>
            <li><a>Selecciones</a>
              <ul>
                <li><a href="./selecciones.html">America</a></li>
                <li><a href="./selecciones.html">Europa</a></li>
                <li><a href="./selecciones.html">Asia</a></li>
                <li><a href="./selecciones.html">Oceanía</a></li>
                <li><a href="./selecciones.html">África</a></li>
              </ul>
            </li>
            <li><a>Coleccion</a>  
              <ul>
                <li><a href="./coleccion.html">Camisetas con Historia</a></li>
              </ul>
            </li>
            <li><a href="./comprar.html">Comprar</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <h2 class="h3 titulo fuente">Selecciones</h2>
      <h3 class="h5 titulo fuente">America</h3>
      <section class="listas" >
        <div  class="mx-auto" class="card" style="width: 18rem;">
          <img src="../Multimedia/imagenes/Argentina parche.jpg.crdownload" class="card-img-top" alt="barsa">
          <div class="card-body">
            <p class="h5 card-title">Argentina</p>
            <p class="card-text">Temporada 2021/22</p>
            <a href="./comprar.html" class="btn btn-primary">Comprar</a>
          </div>
          <div class="mx-auto" class="card" style="width: 18rem;">
            <img src="../Multimedia/imagenes/brasil 22.jpg" class="card-img-top" alt="madrid">
            <div class="card-body">
              <p class="h5 card-title">Brasil</p>
              <p class="card-text">Temporada 2021/22</p>
              <a href="./comprar.html" class="btn btn-primary">Comprar</a>
            </div>
            <div  class="mx-auto" class="card" style="width: 18rem;">
              <img src="../Multimedia/imagenes/uruguay 22.jpg" class="card-img-top" alt="Sevilla">
              <div class="card-body">
                <p class="h5 card-title">Uruguay</p>
                <p class="card-text">Temporada 2021/22</p>
                <a href="./comprar.html" class="btn btn-primary">Comprar</a>
              </div>
              <div  class="mx-auto" class="card" style="width: 18rem;">
                <img src="../Multimedia/imagenes/Chile 22.jpg" class="card-img-top" alt="AtleticoMadrid">
                <div class="card-body">
                  <p class="h5 card-title">Chile</p>
                  <p class="card-text">Temporada 2021/22</p>
                  <a href="./comprar.html" class="btn btn-primary">Comprar</a>
                </div>
        </div>
      </section>
      <h4 class="h5 titulo fuente">Europa</h4>
      <section class="listas">
      <div class="mx-auto" class="card" style="width: 18rem;">
          <img src="../Multimedia/imagenes/España 22.jpg" class="card-img-top" alt="barsa">
          <div class="card-body">
            <p class="h5 card-title">España</p>
            <p class="card-text">Temporada 2021/22</p>
            <a href="./comprar.html" class="btn btn-primary">Comprar</a>
          </div>
          <div class="mx-auto" class="card" style="width: 18rem;">
            <img src="../Multimedia/imagenes/inglaterra 22.jpg" class="card-img-top" alt="madrid">
            <div class="card-body">
              <p class="h5 card-title">Inglaterra</p>
              <p class="card-text">Temporada 2021/22</p>
              <a href="./comprar.html" class="btn btn-primary">Comprar</a>
            </div>
            <div  class="mx-auto" class="card" style="width: 18rem;">
              <img src="../Multimedia/imagenes/portugal 22.jpg" class="card-img-top" alt="Sevilla">
              <div class="card-body">
                <p class="h5 card-title">Portugal</p>
                <p class="card-text">Temporada 2021/22</p>
                <a href="./comprar.html" class="btn btn-primary">Comprar</a>
              </div>
              <div  class="mx-auto" class="card" style="width: 18rem;">
                <img src="../Multimedia/imagenes/italia 22.jpg" class="card-img-top" alt="AtleticoMadrid">
                <div class="card-body">
                  <p class="h5 card-title">Italia</p>
                  <p class="card-text">Temporada 2021/22</p>
                  <a href="./comprar.html" class="btn btn-primary">Comprar</a>
                </div>
        </div>
      </section>

      <h4 class="h5 titulo fuente">Asia</h4>
      <section class="listas" >
        <div  class="mx-auto" class="card" style="width: 18rem;">
          <img src="../Multimedia/imagenes/japon 22.jpg" class="card-img-top" alt="barsa">
          <div class="card-body">
            <p class="h5 card-title">Japón</p>
            <p class="card-text">Temporada 2021/22</p>
            <a href="./comprar.html" class="btn btn-primary">Comprar</a>
          </div>
          <div class="mx-auto" class="card" style="width: 18rem;">
            <img src="../Multimedia/imagenes/China 22.jpg" class="card-img-top" alt="madrid">
            <div class="card-body">
              <p class="h5 card-title">China</p>
              <p class="card-text">Temporada 2021/22</p>
              <a href="./comprar.html" class="btn btn-primary">Comprar</a>
            </div>
            <div  class="mx-auto" class="card" style="width: 18rem;">
              <img src="../Multimedia/imagenes/Corea del sur.jpg" class="card-img-top" alt="Sevilla">
              <div class="card-body">
                <h5 class="card-title">Corea del Sur</h5>
                <p class="h5 card-text">Temporada 2021/22</p>
                <a href="./comprar.html" class="btn btn-primary">Comprar</a>
              </div>
              <div  class="mx-auto" class="card" style="width: 18rem;">
                <img src="../Multimedia/imagenes/kazajistan 22.jpg" class="card-img-top" alt="AtleticoMadrid">
                <div class="card-body">
                  <p class="h5 card-title">Kazajistán</p>
                  <p class="card-text">Temporada 2021/22</p>
                  <a href="./comprar.html" class="btn btn-primary">Comprar</a>
                </div>
        </div>
      </section>
      <h4 class="h5 titulo fuente">Oceanía</h4>
      <section class="listas" >
        <div  class="mx-auto" class="card" style="width: 18rem;">
          <img src="../Multimedia/imagenes/Australia 22.jpg" class="card-img-top" alt="barsa">
          <div class="card-body">
            <p class="h5 card-title">Australia</p>
            <p class="card-text">Temporada 2021/22</p>
            <a href="./comprar.html" class="btn btn-primary">Comprar</a>
          </div>
          <div class="mx-auto" class="card" style="width: 18rem;">
            <img src="../Multimedia/imagenes/Nueva Zelanda22.jpg" class="card-img-top" alt="madrid">
            <div class="card-body">
              <p class="h5 card-title">Nueva Zelanda</p>
              <p class="card-text">Temporada 2021/22</p>
              <a href="./comprar.html" class="btn btn-primary">Comprar</a>
            </div>
                
        </div>
      </section>

      <h4 class="h5 titulo fuente">África</h4>
      <section class="listas" >
        <div  class="mx-auto" class="card" style="width: 18rem;">
          <img src="../Multimedia/imagenes/Sudafrica22.jpg" class="card-img-top" alt="barsa">
          <div class="card-body">
            <p class="h5 card-title">Sudáfrica</p>
            <p class="card-text">Temporada 2021/22</p>
            <a href="./comprar.html" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </section>
  </main>
  <footer class="footer fuente">
    <p class="footer__pie">Seguinos en nuestras redes sociales Facebook / Twitter / Instagram</p>    
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>